    .fullPageWrapper {
      @apply fixed top-0 left-0 w-full h-full bg-white flex justify-center items-center z-[99999];
    }
  
    .loader {
      @apply m-5 border-4 border-white border-t-pink-400 rounded-full w-12 h-12;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }